services:
  broker:
    build:
      context: .
      dockerfile: broker/Dockerfile
    container_name: broker
    ports:
      - "5555:5555"
      - "5556:5556"
    networks:
      - ds-v2

  proxy:
    build:
      context: .
      dockerfile: proxy/Dockerfile
    container_name: proxy
    ports:
      - "5557:5557"
      - "5558:5558"
    depends_on:
      - broker
    networks:
      - ds-v2

  reference:
    build:
      context: .
      dockerfile: reference/Dockerfile
    container_name: reference
    ports:
      - "5559:5559"
    environment:
      - SERDE=${SERDE:-MSGPACK}
    networks:
      - ds-v2

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    depends_on:
      - broker
      - proxy
      - reference
    environment:
      - SERDE=${SERDE:-MSGPACK}
    networks:
      - ds-v2
    volumes:
      - data:/data

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client
    command: sleep infinity
    stdin_open: true
    tty: true
    depends_on:
      server:
        condition: service_started
    environment:
      - SERDE=${SERDE:-MSGPACK}
    networks:
      - ds-v2

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    depends_on:
      server:
        condition: service_started
    environment:
      - SERDE=${SERDE:-MSGPACK}
    networks:
      - ds-v2

volumes:
  data:
    driver: local

networks:
  ds-v2:
    driver: bridge
